<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Abecedario</key>
<array>
<dict>
<key>respuesta</key>
<integer>16</integer>
<key>op1</key>
<integer>23</integer>
<key>op2</key>
<integer>16</integer>
<key>op3</key>
<integer>12</integer>
<key>op4</key>
<integer>2</integer>
<key>xp</key>
<integer>5</integer>
</dict>
<dict>
<key>respuesta</key>
<integer>23</integer>
<key>op1</key>
<integer>23</integer>
<key>op2</key>
<integer>27</integer>
<key>op3</key>
<integer>0</integer>
<key>op4</key>
<integer>12</integer>
<key>xp</key>
<integer>5</integer>
</dict>
<dict>
<key>respuesta</key>
<integer>0</integer>
<key>op1</key>
<integer>0</integer>
<key>op2</key>
<integer>26</integer>
<key>op3</key>
<integer>3</integer>
<key>op4</key>
<integer>17</integer>
<key>xp</key>
<integer>5</integer>
</dict>
<dict>
<key>respuesta</key>
<integer>18</integer>
<key>op1</key>
<integer>18</integer>
<key>op2</key>
<integer>7</integer>
<key>op3</key>
<integer>23</integer>
<key>op4</key>
<integer>5</integer>
<key>xp</key>
<integer>5</integer>
</dict>
<dict>
<key>respuesta</key>
<integer>22</integer>
<key>op1</key>
<integer>0</integer>
<key>op2</key>
<integer>22</integer>
<key>op3</key>
<integer>10</integer>
<key>op4</key>
<integer>25</integer>
<key>xp</key>
<integer>5</integer>
</dict>
<dict>
<key>respuesta</key>
<integer>25</integer>
<key>op1</key>
<integer>25</integer>
<key>op2</key>
<integer>2</integer>
<key>op3</key>
<integer>20</integer>
<key>op4</key>
<integer>5</integer>
<key>xp</key>
<integer>5</integer>
</dict>
</array>
<key>Animales</key>
<array>
<dict>
<key>respuesta</key>
<integer>14</integer>
<key>op1</key>
<integer>8</integer>
<key>op2</key>
<integer>0</integer>
<key>op3</key>
<integer>1</integer>
<key>op4</key>
<integer>14</integer>
<key>xp</key>
<integer>5</integer>
</dict>
<dict>
<key>respuesta</key>
<integer>19</integer>
<key>op1</key>
<integer>3</integer>
<key>op2</key>
<integer>10</integer>
<key>op3</key>
<integer>11</integer>
<key>op4</key>
<integer>19</integer>
<key>xp</key>
<integer>5</integer>
</dict>
<dict>
<key>respuesta</key>
<integer>10</integer>
<key>op1</key>
<integer>10</integer>
<key>op2</key>
<integer>11</integer>
<key>op3</key>
<integer>20</integer>
<key>op4</key>
<integer>22</integer>
<key>xp</key>
<integer>5</integer>
</dict>
<dict>
<key>respuesta</key>
<integer>15</integer>
<key>op1</key>
<integer>8</integer>
<key>op2</key>
<integer>15</integer>
<key>op3</key>
<integer>20</integer>
<key>op4</key>
<integer>25</integer>
<key>xp</key>
<integer>5</integer>
</dict>
<dict>
<key>respuesta</key>
<integer>1</integer>
<key>op1</key>
<integer>1</integer>
<key>op2</key>
<integer>14</integer>
<key>op3</key>
<integer>12</integer>
<key>op4</key>
<integer>17</integer>
<key>xp</key>
<integer>5</integer>
</dict>
<dict>
<key>respuesta</key>
<integer>21</integer>
<key>op1</key>
<integer>16</integer>
<key>op2</key>
<integer>9</integer>
<key>op3</key>
<integer>17</integer>
<key>op4</key>
<integer>21</integer>
<key>xp</key>
<integer>5</integer>
</dict>
</array>
<key>Colores</key>
<array>
<dict>
<key>respuesta</key>
<integer>3</integer>
<key>op1</key>
<integer>7</integer>
<key>op2</key>
<integer>3</integer>
<key>op3</key>
<integer>2</integer>
<key>op4</key>
<integer>5</integer>
<key>xp</key>
<integer>5</integer>
</dict>
<dict>
<key>respuesta</key>
<integer>2</integer>
<key>op1</key>
<integer>9</integer>
<key>op2</key>
<integer>6</integer>
<key>op3</key>
<integer>2</integer>
<key>op4</key>
<integer>7</integer>
<key>xp</key>
<integer>5</integer>
</dict>
<dict>
<key>respuesta</key>
<integer>1</integer>
<key>op1</key>
<integer>5</integer>
<key>op2</key>
<integer>11</integer>
<key>op3</key>
<integer>1</integer>
<key>op4</key>
<integer>8</integer>
<key>xp</key>
<integer>5</integer>
</dict>
<dict>
<key>respuesta</key>
<integer>11</integer>
<key>op1</key>
<integer>3</integer>
<key>op2</key>
<integer>12</integer>
<key>op3</key>
<integer>11</integer>
<key>op4</key>
<integer>2</integer>
<key>xp</key>
<integer>5</integer>
</dict>
<dict>
<key>respuesta</key>
<integer>5</integer>
<key>op1</key>
<integer>5</integer>
<key>op2</key>
<integer>3</integer>
<key>op3</key>
<integer>10</integer>
<key>op4</key>
<integer>11</integer>
<key>xp</key>
<integer>5</integer>
</dict>
<dict>
<key>respuesta</key>
<integer>4</integer>
<key>op1</key>
<integer>3</integer>
<key>op2</key>
<integer>0</integer>
<key>op3</key>
<integer>4</integer>
<key>op4</key>
<integer>1</integer>
<key>xp</key>
<integer>5</integer>
</dict>
</array>
<key>Comida</key>
<array>
<dict>
<key>respuesta</key>
<integer>27</integer>
<key>op1</key>
<integer>24</integer>
<key>op2</key>
<integer>21</integer>
<key>op3</key>
<integer>27</integer>
<key>op4</key>
<integer>11</integer>
<key>xp</key>
<integer>5</integer>
</dict>
<dict>
<key>respuesta</key>
<integer>8</integer>
<key>op1</key>
<integer>7</integer>
<key>op2</key>
<integer>8</integer>
<key>op3</key>
<integer>27</integer>
<key>op4</key>
<integer>24</integer>
<key>xp</key>
<integer>5</integer>
</dict>
<dict>
<key>respuesta</key>
<integer>24</integer>
<key>op1</key>
<integer>11</integer>
<key>op2</key>
<integer>24</integer>
<key>op3</key>
<integer>5</integer>
<key>op4</key>
<integer>15</integer>
<key>xp</key>
<integer>5</integer>
</dict>
<dict>
<key>respuesta</key>
<integer>15</integer>
<key>op1</key>
<integer>22</integer>
<key>op2</key>
<integer>19</integer>
<key>op3</key>
<integer>15</integer>
<key>op4</key>
<integer>8</integer>
<key>xp</key>
<integer>5</integer>
</dict>
<dict>
<key>respuesta</key>
<integer>2</integer>
<key>op1</key>
<integer>2</integer>
<key>op2</key>
<integer>7</integer>
<key>op3</key>
<integer>24</integer>
<key>op4</key>
<integer>28</integer>
<key>xp</key>
<integer>5</integer>
</dict>
<dict>
<key>respuesta</key>
<integer>25</integer>
<key>op1</key>
<integer>25</integer>
<key>op2</key>
<integer>23</integer>
<key>op3</key>
<integer>10</integer>
<key>op4</key>
<integer>16</integer>
<key>xp</key>
<integer>5</integer>
</dict>
</array>
<key>Cuerpo</key>
<array>
<dict>
<key>respuesta</key>
<integer>12</integer>
<key>op1</key>
<integer>10</integer>
<key>op2</key>
<integer>7</integer>
<key>op3</key>
<integer>12</integer>
<key>op4</key>
<integer>6</integer>
<key>xp</key>
<integer>5</integer>
</dict>
<dict>
<key>respuesta</key>
<integer>0</integer>
<key>op1</key>
<integer>0</integer>
<key>op2</key>
<integer>6</integer>
<key>op3</key>
<integer>11</integer>
<key>op4</key>
<integer>5</integer>
<key>xp</key>
<integer>5</integer>
</dict>
<dict>
<key>respuesta</key>
<integer>6</integer>
<key>op1</key>
<integer>12</integer>
<key>op2</key>
<integer>1</integer>
<key>op3</key>
<integer>6</integer>
<key>op4</key>
<integer>5</integer>
<key>xp</key>
<integer>5</integer>
</dict>
<dict>
<key>respuesta</key>
<integer>5</integer>
<key>op1</key>
<integer>1</integer>
<key>op2</key>
<integer>2</integer>
<key>op3</key>
<integer>13</integer>
<key>op4</key>
<integer>5</integer>
<key>xp</key>
<integer>5</integer>
</dict>
<dict>
<key>respuesta</key>
<integer>9</integer>
<key>op1</key>
<integer>8</integer>
<key>op2</key>
<integer>4</integer>
<key>op3</key>
<integer>9</integer>
<key>op4</key>
<integer>5</integer>
<key>xp</key>
<integer>5</integer>
</dict>
<dict>
<key>respuesta</key>
<integer>10</integer>
<key>op1</key>
<integer>3</integer>
<key>op2</key>
<integer>11</integer>
<key>op3</key>
<integer>10</integer>
<key>op4</key>
<integer>8</integer>
<key>xp</key>
<integer>5</integer>
</dict>
</array>
<key>DiasDeLaSemana</key>
<array>
<dict>
<key>respuesta</key>
<integer>2</integer>
<key>op1</key>
<integer>0</integer>
<key>op2</key>
<integer>1</integer>
<key>op3</key>
<integer>2</integer>
<key>op4</key>
<integer>6</integer>
<key>xp</key>
<integer>5</integer>
</dict>
<dict>
<key>respuesta</key>
<integer>1</integer>
<key>op1</key>
<integer>5</integer>
<key>op2</key>
<integer>4</integer>
<key>op3</key>
<integer>3</integer>
<key>op4</key>
<integer>1</integer>
<key>xp</key>
<integer>5</integer>
</dict>
<dict>
<key>respuesta</key>
<integer>6</integer>
<key>op1</key>
<integer>5</integer>
<key>op2</key>
<integer>1</integer>
<key>op3</key>
<integer>3</integer>
<key>op4</key>
<integer>6</integer>
<key>xp</key>
<integer>5</integer>
</dict>
<dict>
<key>respuesta</key>
<integer>3</integer>
<key>op1</key>
<integer>4</integer>
<key>op2</key>
<integer>1</integer>
<key>op3</key>
<integer>2</integer>
<key>op4</key>
<integer>3</integer>
<key>xp</key>
<integer>5</integer>
</dict>
<dict>
<key>respuesta</key>
<integer>4</integer>
<key>op1</key>
<integer>2</integer>
<key>op2</key>
<integer>4</integer>
<key>op3</key>
<integer>6</integer>
<key>op4</key>
<integer>0</integer>
<key>xp</key>
<integer>5</integer>
</dict>
<dict>
<key>respuesta</key>
<integer>0</integer>
<key>op1</key>
<integer>0</integer>
<key>op2</key>
<integer>1</integer>
<key>op3</key>
<integer>3</integer>
<key>op4</key>
<integer>5</integer>
<key>xp</key>
<integer>5</integer>
</dict>
</array>
<key>Frutas</key>
<array>
<dict>
<key>respuesta</key>
<integer>21</integer>
<key>op1</key>
<integer>15</integer>
<key>op2</key>
<integer>21</integer>
<key>op3</key>
<integer>17</integer>
<key>op4</key>
<integer>13</integer>
<key>xp</key>
<integer>5</integer>
</dict>
<dict>
<key>respuesta</key>
<integer>6</integer>
<key>op1</key>
<integer>15</integer>
<key>op2</key>
<integer>14</integer>
<key>op3</key>
<integer>6</integer>
<key>op4</key>
<integer>13</integer>
<key>xp</key>
<integer>5</integer>
</dict>
<dict>
<key>respuesta</key>
<integer>17</integer>
<key>op1</key>
<integer>10</integer>
<key>op2</key>
<integer>11</integer>
<key>op3</key>
<integer>12</integer>
<key>op4</key>
<integer>17</integer>
<key>xp</key>
<integer>5</integer>
</dict>
<dict>
<key>respuesta</key>
<integer>15</integer>
<key>op1</key>
<integer>4</integer>
<key>op2</key>
<integer>17</integer>
<key>op3</key>
<integer>9</integer>
<key>op4</key>
<integer>15</integer>
<key>xp</key>
<integer>5</integer>
</dict>
<dict>
<key>respuesta</key>
<integer>8</integer>
<key>op1</key>
<integer>8</integer>
<key>op2</key>
<integer>20</integer>
<key>op3</key>
<integer>12</integer>
<key>op4</key>
<integer>3</integer>
<key>xp</key>
<integer>5</integer>
</dict>
<dict>
<key>respuesta</key>
<integer>19</integer>
<key>op1</key>
<integer>1</integer>
<key>op2</key>
<integer>5</integer>
<key>op3</key>
<integer>13</integer>
<key>op4</key>
<integer>19</integer>
<key>xp</key>
<integer>5</integer>
</dict>
</array>
<key>Hogar</key>
<array>
<dict>
<key>respuesta</key>
<integer>5</integer>
<key>op1</key>
<integer>6</integer>
<key>op2</key>
<integer>13</integer>
<key>op3</key>
<integer>2</integer>
<key>op4</key>
<integer>5</integer>
<key>xp</key>
<integer>5</integer>
</dict>
<dict>
<key>respuesta</key>
<integer>1</integer>
<key>op1</key>
<integer>1</integer>
<key>op2</key>
<integer>24</integer>
<key>op3</key>
<integer>6</integer>
<key>op4</key>
<integer>19</integer>
<key>xp</key>
<integer>5</integer>
</dict>
<dict>
<key>respuesta</key>
<integer>13</integer>
<key>op1</key>
<integer>13</integer>
<key>op2</key>
<integer>22</integer>
<key>op3</key>
<integer>1</integer>
<key>op4</key>
<integer>24</integer>
<key>xp</key>
<integer>5</integer>
</dict>
<dict>
<key>respuesta</key>
<integer>3</integer>
<key>op1</key>
<integer>6</integer>
<key>op2</key>
<integer>14</integer>
<key>op3</key>
<integer>19</integer>
<key>op4</key>
<integer>3</integer>
<key>xp</key>
<integer>5</integer>
</dict>
<dict>
<key>respuesta</key>
<integer>0</integer>
<key>op1</key>
<integer>5</integer>
<key>op2</key>
<integer>0</integer>
<key>op3</key>
<integer>4</integer>
<key>op4</key>
<integer>23</integer>
<key>xp</key>
<integer>5</integer>
</dict>
<dict>
<key>respuesta</key>
<integer>4</integer>
<key>op1</key>
<integer>4</integer>
<key>op2</key>
<integer>12</integer>
<key>op3</key>
<integer>20</integer>
<key>op4</key>
<integer>17</integer>
<key>xp</key>
<integer>5</integer>
</dict>
</array>
<key>Lugares</key>
<array>
<dict>
<key>respuesta</key>
<integer>5</integer>
<key>op1</key>
<integer>5</integer>
<key>op2</key>
<integer>16</integer>
<key>op3</key>
<integer>4</integer>
<key>op4</key>
<integer>17</integer>
<key>xp</key>
<integer>5</integer>
</dict>
<dict>
<key>respuesta</key>
<integer>8</integer>
<key>op1</key>
<integer>8</integer>
<key>op2</key>
<integer>10</integer>
<key>op3</key>
<integer>16</integer>
<key>op4</key>
<integer>12</integer>
<key>xp</key>
<integer>5</integer>
</dict>
<dict>
<key>respuesta</key>
<integer>14</integer>
<key>op1</key>
<integer>4</integer>
<key>op2</key>
<integer>14</integer>
<key>op3</key>
<integer>1</integer>
<key>op4</key>
<integer>8</integer>
<key>xp</key>
<integer>5</integer>
</dict>
<dict>
<key>respuesta</key>
<integer>18</integer>
<key>op1</key>
<integer>9</integer>
<key>op2</key>
<integer>13</integer>
<key>op3</key>
<integer>3</integer>
<key>op4</key>
<integer>18</integer>
<key>xp</key>
<integer>5</integer>
</dict>
<dict>
<key>respuesta</key>
<integer>7</integer>
<key>op1</key>
<integer>13</integer>
<key>op2</key>
<integer>2</integer>
<key>op3</key>
<integer>5</integer>
<key>op4</key>
<integer>7</integer>
<key>xp</key>
<integer>5</integer>
</dict>
<dict>
<key>respuesta</key>
<integer>16</integer>
<key>op1</key>
<integer>4</integer>
<key>op2</key>
<integer>16</integer>
<key>op3</key>
<integer>10</integer>
<key>op4</key>
<integer>6</integer>
<key>xp</key>
<integer>5</integer>
</dict>
</array>
<key>MesesDelAno</key>
<array>
<dict>
<key>respuesta</key>
<integer>0</integer>
<key>op1</key>
<integer>0</integer>
<key>op2</key>
<integer>2</integer>
<key>op3</key>
<integer>9</integer>
<key>op4</key>
<integer>4</integer>
<key>xp</key>
<integer>5</integer>
</dict>
<dict>
<key>respuesta</key>
<integer>2</integer>
<key>op1</key>
<integer>9</integer>
<key>op2</key>
<integer>5</integer>
<key>op3</key>
<integer>8</integer>
<key>op4</key>
<integer>2</integer>
<key>xp</key>
<integer>5</integer>
</dict>
<dict>
<key>respuesta</key>
<integer>6</integer>
<key>op1</key>
<integer>7</integer>
<key>op2</key>
<integer>6</integer>
<key>op3</key>
<integer>2</integer>
<key>op4</key>
<integer>3</integer>
<key>xp</key>
<integer>5</integer>
</dict>
<dict>
<key>respuesta</key>
<integer>9</integer>
<key>op1</key>
<integer>11</integer>
<key>op2</key>
<integer>9</integer>
<key>op3</key>
<integer>4</integer>
<key>op4</key>
<integer>10</integer>
<key>xp</key>
<integer>5</integer>
</dict>
<dict>
<key>respuesta</key>
<integer>1</integer>
<key>op1</key>
<integer>3</integer>
<key>op2</key>
<integer>1</integer>
<key>op3</key>
<integer>8</integer>
<key>op4</key>
<integer>9</integer>
<key>xp</key>
<integer>5</integer>
</dict>
<dict>
<key>respuesta</key>
<integer>4</integer>
<key>op1</key>
<integer>0</integer>
<key>op2</key>
<integer>10</integer>
<key>op3</key>
<integer>4</integer>
<key>op4</key>
<integer>8</integer>
<key>xp</key>
<integer>5</integer>
</dict>
</array>
<key>Numeros</key>
<array>
<dict>
<key>respuesta</key>
<integer>35</integer>
<key>op1</key>
<integer>0</integer>
<key>op2</key>
<integer>10</integer>
<key>op3</key>
<integer>26</integer>
<key>op4</key>
<integer>35</integer>
<key>xp</key>
<integer>5</integer>
</dict>
<dict>
<key>respuesta</key>
<integer>27</integer>
<key>op1</key>
<integer>0</integer>
<key>op2</key>
<integer>6</integer>
<key>op3</key>
<integer>27</integer>
<key>op4</key>
<integer>35</integer>
<key>xp</key>
<integer>5</integer>
</dict>
<dict>
<key>respuesta</key>
<integer>17</integer>
<key>op1</key>
<integer>34</integer>
<key>op2</key>
<integer>17</integer>
<key>op3</key>
<integer>33</integer>
<key>op4</key>
<integer>0</integer>
<key>xp</key>
<integer>5</integer>
</dict>
<dict>
<key>respuesta</key>
<integer>34</integer>
<key>op1</key>
<integer>37</integer>
<key>op2</key>
<integer>25</integer>
<key>op3</key>
<integer>34</integer>
<key>op4</key>
<integer>9</integer>
<key>xp</key>
<integer>5</integer>
</dict>
<dict>
<key>respuesta</key>
<integer>15</integer>
<key>op1</key>
<integer>22</integer>
<key>op2</key>
<integer>37</integer>
<key>op3</key>
<integer>3</integer>
<key>op4</key>
<integer>15</integer>
<key>xp</key>
<integer>5</integer>
</dict>
<dict>
<key>respuesta</key>
<integer>19</integer>
<key>op1</key>
<integer>27</integer>
<key>op2</key>
<integer>29</integer>
<key>op3</key>
<integer>35</integer>
<key>op4</key>
<integer>19</integer>
<key>xp</key>
<integer>5</integer>
</dict>
</array>
<key>Personas</key>
<array>
<dict>
<key>respuesta</key>
<integer>28</integer>
<key>op1</key>
<integer>63</integer>
<key>op2</key>
<integer>28</integer>
<key>op3</key>
<integer>23</integer>
<key>op4</key>
<integer>60</integer>
<key>xp</key>
<integer>5</integer>
</dict>
<dict>
<key>respuesta</key>
<integer>18</integer>
<key>op1</key>
<integer>61</integer>
<key>op2</key>
<integer>50</integer>
<key>op3</key>
<integer>9</integer>
<key>op4</key>
<integer>18</integer>
<key>xp</key>
<integer>5</integer>
</dict>
<dict>
<key>respuesta</key>
<integer>57</integer>
<key>op1</key>
<integer>58</integer>
<key>op2</key>
<integer>57</integer>
<key>op3</key>
<integer>42</integer>
<key>op4</key>
<integer>45</integer>
<key>xp</key>
<integer>5</integer>
</dict>
<dict>
<key>respuesta</key>
<integer>25</integer>
<key>op1</key>
<integer>55</integer>
<key>op2</key>
<integer>53</integer>
<key>op3</key>
<integer>10</integer>
<key>op4</key>
<integer>25</integer>
<key>xp</key>
<integer>5</integer>
</dict>
<dict>
<key>respuesta</key>
<integer>10</integer>
<key>op1</key>
<integer>28</integer>
<key>op2</key>
<integer>10</integer>
<key>op3</key>
<integer>8</integer>
<key>op4</key>
<integer>6</integer>
<key>xp</key>
<integer>5</integer>
</dict>
<dict>
<key>respuesta</key>
<integer>20</integer>
<key>op1</key>
<integer>40</integer>
<key>op2</key>
<integer>39</integer>
<key>op3</key>
<integer>20</integer>
<key>op4</key>
<integer>12</integer>
<key>xp</key>
<integer>5</integer>
</dict>
</array>
<key>Preguntas</key>
<array>
<dict>
<key>respuesta</key>
<integer>7</integer>
<key>op1</key>
<integer>1</integer>
<key>op2</key>
<integer>7</integer>
<key>op3</key>
<integer>8</integer>
<key>op4</key>
<integer>0</integer>
<key>xp</key>
<integer>5</integer>
</dict>
<dict>
<key>respuesta</key>
<integer>1</integer>
<key>op1</key>
<integer>7</integer>
<key>op2</key>
<integer>6</integer>
<key>op3</key>
<integer>4</integer>
<key>op4</key>
<integer>1</integer>
<key>xp</key>
<integer>5</integer>
</dict>
<dict>
<key>respuesta</key>
<integer>5</integer>
<key>op1</key>
<integer>3</integer>
<key>op2</key>
<integer>2</integer>
<key>op3</key>
<integer>6</integer>
<key>op4</key>
<integer>5</integer>
<key>xp</key>
<integer>5</integer>
</dict>
<dict>
<key>respuesta</key>
<integer>8</integer>
<key>op1</key>
<integer>8</integer>
<key>op2</key>
<integer>3</integer>
<key>op3</key>
<integer>6</integer>
<key>op4</key>
<integer>5</integer>
<key>xp</key>
<integer>5</integer>
</dict>
<dict>
<key>respuesta</key>
<integer>3</integer>
<key>op1</key>
<integer>8</integer>
<key>op2</key>
<integer>3</integer>
<key>op3</key>
<integer>4</integer>
<key>op4</key>
<integer>5</integer>
<key>xp</key>
<integer>5</integer>
</dict>
<dict>
<key>respuesta</key>
<integer>2</integer>
<key>op1</key>
<integer>2</integer>
<key>op2</key>
<integer>3</integer>
<key>op3</key>
<integer>4</integer>
<key>op4</key>
<integer>6</integer>
<key>xp</key>
<integer>5</integer>
</dict>
</array>
<key>PreposicionesAdjetivosSustantivosAdverbios</key>
<array>
<dict>
<key>respuesta</key>
<integer>3</integer>
<key>op1</key>
<integer>93</integer>
<key>op2</key>
<integer>3</integer>
<key>op3</key>
<integer>70</integer>
<key>op4</key>
<integer>8</integer>
<key>xp</key>
<integer>5</integer>
</dict>
<dict>
<key>respuesta</key>
<integer>16</integer>
<key>op1</key>
<integer>77</integer>
<key>op2</key>
<integer>16</integer>
<key>op3</key>
<integer>25</integer>
<key>op4</key>
<integer>60</integer>
<key>xp</key>
<integer>5</integer>
</dict>
<dict>
<key>respuesta</key>
<integer>4</integer>
<key>op1</key>
<integer>22</integer>
<key>op2</key>
<integer>77</integer>
<key>op3</key>
<integer>19</integer>
<key>op4</key>
<integer>4</integer>
<key>xp</key>
<integer>5</integer>
</dict>
<dict>
<key>respuesta</key>
<integer>76</integer>
<key>op1</key>
<integer>76</integer>
<key>op2</key>
<integer>45</integer>
<key>op3</key>
<integer>21</integer>
<key>op4</key>
<integer>1</integer>
<key>xp</key>
<integer>5</integer>
</dict>
<dict>
<key>respuesta</key>
<integer>23</integer>
<key>op1</key>
<integer>45</integer>
<key>op2</key>
<integer>51</integer>
<key>op3</key>
<integer>23</integer>
<key>op4</key>
<integer>29</integer>
<key>xp</key>
<integer>5</integer>
</dict>
<dict>
<key>respuesta</key>
<integer>64</integer>
<key>op1</key>
<integer>45</integer>
<key>op2</key>
<integer>20</integer>
<key>op3</key>
<integer>64</integer>
<key>op4</key>
<integer>93</integer>
<key>xp</key>
<integer>5</integer>
</dict>
</array>
<key>Pronombres</key>
<array>
<dict>
<key>respuesta</key>
<integer>0</integer>
<key>op1</key>
<integer>0</integer>
<key>op2</key>
<integer>2</integer>
<key>op3</key>
<integer>6</integer>
<key>op4</key>
<integer>1</integer>
<key>xp</key>
<integer>5</integer>
</dict>
<dict>
<key>respuesta</key>
<integer>3</integer>
<key>op1</key>
<integer>4</integer>
<key>op2</key>
<integer>5</integer>
<key>op3</key>
<integer>3</integer>
<key>op4</key>
<integer>1</integer>
<key>xp</key>
<integer>5</integer>
</dict>
<dict>
<key>respuesta</key>
<integer>6</integer>
<key>op1</key>
<integer>6</integer>
<key>op2</key>
<integer>0</integer>
<key>op3</key>
<integer>5</integer>
<key>op4</key>
<integer>3</integer>
<key>xp</key>
<integer>5</integer>
</dict>
<dict>
<key>respuesta</key>
<integer>2</integer>
<key>op1</key>
<integer>4</integer>
<key>op2</key>
<integer>1</integer>
<key>op3</key>
<integer>0</integer>
<key>op4</key>
<integer>2</integer>
<key>xp</key>
<integer>5</integer>
</dict>
<dict>
<key>respuesta</key>
<integer>1</integer>
<key>op1</key>
<integer>3</integer>
<key>op2</key>
<integer>1</integer>
<key>op3</key>
<integer>5</integer>
<key>op4</key>
<integer>4</integer>
<key>xp</key>
<integer>5</integer>
</dict>
<dict>
<key>respuesta</key>
<integer>4</integer>
<key>op1</key>
<integer>3</integer>
<key>op2</key>
<integer>0</integer>
<key>op3</key>
<integer>6</integer>
<key>op4</key>
<integer>4</integer>
<key>xp</key>
<integer>5</integer>
</dict>
</array>
<key>PuestosProfesionesOficios</key>
<array>
<dict>
<key>respuesta</key>
<integer>19</integer>
<key>op1</key>
<integer>11</integer>
<key>op2</key>
<integer>2</integer>
<key>op3</key>
<integer>28</integer>
<key>op4</key>
<integer>19</integer>
<key>xp</key>
<integer>5</integer>
</dict>
<dict>
<key>respuesta</key>
<integer>14</integer>
<key>op1</key>
<integer>12</integer>
<key>op2</key>
<integer>9</integer>
<key>op3</key>
<integer>25</integer>
<key>op4</key>
<integer>14</integer>
<key>xp</key>
<integer>5</integer>
</dict>
<dict>
<key>respuesta</key>
<integer>21</integer>
<key>op1</key>
<integer>20</integer>
<key>op2</key>
<integer>12</integer>
<key>op3</key>
<integer>8</integer>
<key>op4</key>
<integer>21</integer>
<key>xp</key>
<integer>5</integer>
</dict>
<dict>
<key>respuesta</key>
<integer>9</integer>
<key>op1</key>
<integer>30</integer>
<key>op2</key>
<integer>16</integer>
<key>op3</key>
<integer>17</integer>
<key>op4</key>
<integer>9</integer>
<key>xp</key>
<integer>5</integer>
</dict>
<dict>
<key>respuesta</key>
<integer>5</integer>
<key>op1</key>
<integer>0</integer>
<key>op2</key>
<integer>5</integer>
<key>op3</key>
<integer>7</integer>
<key>op4</key>
<integer>17</integer>
<key>xp</key>
<integer>5</integer>
</dict>
<dict>
<key>respuesta</key>
<integer>0</integer>
<key>op1</key>
<integer>0</integer>
<key>op2</key>
<integer>5</integer>
<key>op3</key>
<integer>7</integer>
<key>op4</key>
<integer>29</integer>
<key>xp</key>
<integer>5</integer>
</dict>
</array>
<key>Ropa</key>
<array>
<dict>
<key>respuesta</key>
<integer>8</integer>
<key>op1</key>
<integer>0</integer>
<key>op2</key>
<integer>10</integer>
<key>op3</key>
<integer>8</integer>
<key>op4</key>
<integer>3</integer>
<key>xp</key>
<integer>5</integer>
</dict>
<dict>
<key>respuesta</key>
<integer>4</integer>
<key>op1</key>
<integer>6</integer>
<key>op2</key>
<integer>2</integer>
<key>op3</key>
<integer>3</integer>
<key>op4</key>
<integer>4</integer>
<key>xp</key>
<integer>5</integer>
</dict>
<dict>
<key>respuesta</key>
<integer>10</integer>
<key>op1</key>
<integer>1</integer>
<key>op2</key>
<integer>11</integer>
<key>op3</key>
<integer>10</integer>
<key>op4</key>
<integer>9</integer>
<key>xp</key>
<integer>5</integer>
</dict>
<dict>
<key>respuesta</key>
<integer>2</integer>
<key>op1</key>
<integer>9</integer>
<key>op2</key>
<integer>6</integer>
<key>op3</key>
<integer>2</integer>
<key>op4</key>
<integer>4</integer>
<key>xp</key>
<integer>5</integer>
</dict>
<dict>
<key>respuesta</key>
<integer>5</integer>
<key>op1</key>
<integer>11</integer>
<key>op2</key>
<integer>0</integer>
<key>op3</key>
<integer>5</integer>
<key>op4</key>
<integer>10</integer>
<key>xp</key>
<integer>5</integer>
</dict>
<dict>
<key>respuesta</key>
<integer>3</integer>
<key>op1</key>
<integer>8</integer>
<key>op2</key>
<integer>9</integer>
<key>op3</key>
<integer>7</integer>
<key>op4</key>
<integer>3</integer>
<key>xp</key>
<integer>5</integer>
</dict>
</array>
<key>SaludosCortesias</key>
<array>
<dict>
<key>respuesta</key>
<integer>12</integer>
<key>op1</key>
<integer>12</integer>
<key>op2</key>
<integer>1</integer>
<key>op3</key>
<integer>7</integer>
<key>op4</key>
<integer>0</integer>
<key>xp</key>
<integer>5</integer>
</dict>
<dict>
<key>respuesta</key>
<integer>10</integer>
<key>op1</key>
<integer>0</integer>
<key>op2</key>
<integer>2</integer>
<key>op3</key>
<integer>10</integer>
<key>op4</key>
<integer>5</integer>
<key>xp</key>
<integer>5</integer>
</dict>
<dict>
<key>respuesta</key>
<integer>2</integer>
<key>op1</key>
<integer>12</integer>
<key>op2</key>
<integer>0</integer>
<key>op3</key>
<integer>3</integer>
<key>op4</key>
<integer>2</integer>
<key>xp</key>
<integer>5</integer>
</dict>
<dict>
<key>respuesta</key>
<integer>4</integer>
<key>op1</key>
<integer>6</integer>
<key>op2</key>
<integer>4</integer>
<key>op3</key>
<integer>5</integer>
<key>op4</key>
<integer>14</integer>
<key>xp</key>
<integer>5</integer>
</dict>
<dict>
<key>respuesta</key>
<integer>13</integer>
<key>op1</key>
<integer>0</integer>
<key>op2</key>
<integer>13</integer>
<key>op3</key>
<integer>9</integer>
<key>op4</key>
<integer>5</integer>
<key>xp</key>
<integer>5</integer>
</dict>
<dict>
<key>respuesta</key>
<integer>7</integer>
<key>op1</key>
<integer>8</integer>
<key>op2</key>
<integer>11</integer>
<key>op3</key>
<integer>7</integer>
<key>op4</key>
<integer>1</integer>
<key>xp</key>
<integer>5</integer>
</dict>
</array>
<key>Tiempo</key>
<array>
<dict>
<key>respuesta</key>
<integer>8</integer>
<key>op1</key>
<integer>8</integer>
<key>op2</key>
<integer>35</integer>
<key>op3</key>
<integer>23</integer>
<key>op4</key>
<integer>7</integer>
<key>xp</key>
<integer>5</integer>
</dict>
<dict>
<key>respuesta</key>
<integer>28</integer>
<key>op1</key>
<integer>29</integer>
<key>op2</key>
<integer>7</integer>
<key>op3</key>
<integer>35</integer>
<key>op4</key>
<integer>28</integer>
<key>xp</key>
<integer>5</integer>
</dict>
<dict>
<key>respuesta</key>
<integer>9</integer>
<key>op1</key>
<integer>9</integer>
<key>op2</key>
<integer>25</integer>
<key>op3</key>
<integer>12</integer>
<key>op4</key>
<integer>6</integer>
<key>xp</key>
<integer>5</integer>
</dict>
<dict>
<key>respuesta</key>
<integer>19</integer>
<key>op1</key>
<integer>36</integer>
<key>op2</key>
<integer>19</integer>
<key>op3</key>
<integer>32</integer>
<key>op4</key>
<integer>18</integer>
<key>xp</key>
<integer>5</integer>
</dict>
<dict>
<key>respuesta</key>
<integer>5</integer>
<key>op1</key>
<integer>17</integer>
<key>op2</key>
<integer>8</integer>
<key>op3</key>
<integer>6</integer>
<key>op4</key>
<integer>5</integer>
<key>xp</key>
<integer>5</integer>
</dict>
<dict>
<key>respuesta</key>
<integer>20</integer>
<key>op1</key>
<integer>20</integer>
<key>op2</key>
<integer>36</integer>
<key>op3</key>
<integer>31</integer>
<key>op4</key>
<integer>32</integer>
<key>xp</key>
<integer>5</integer>
</dict>
</array>
<key>Transporte</key>
<array>
<dict>
<key>respuesta</key>
<integer>11</integer>
<key>op1</key>
<integer>8</integer>
<key>op2</key>
<integer>1</integer>
<key>op3</key>
<integer>5</integer>
<key>op4</key>
<integer>11</integer>
<key>xp</key>
<integer>5</integer>
</dict>
<dict>
<key>respuesta</key>
<integer>10</integer>
<key>op1</key>
<integer>2</integer>
<key>op2</key>
<integer>7</integer>
<key>op3</key>
<integer>10</integer>
<key>op4</key>
<integer>8</integer>
<key>xp</key>
<integer>5</integer>
</dict>
<dict>
<key>respuesta</key>
<integer>0</integer>
<key>op1</key>
<integer>10</integer>
<key>op2</key>
<integer>0</integer>
<key>op3</key>
<integer>5</integer>
<key>op4</key>
<integer>1</integer>
<key>xp</key>
<integer>5</integer>
</dict>
<dict>
<key>respuesta</key>
<integer>4</integer>
<key>op1</key>
<integer>1</integer>
<key>op2</key>
<integer>4</integer>
<key>op3</key>
<integer>7</integer>
<key>op4</key>
<integer>6</integer>
<key>xp</key>
<integer>5</integer>
</dict>
<dict>
<key>respuesta</key>
<integer>7</integer>
<key>op1</key>
<integer>0</integer>
<key>op2</key>
<integer>7</integer>
<key>op3</key>
<integer>8</integer>
<key>op4</key>
<integer>10</integer>
<key>xp</key>
<integer>5</integer>
</dict>
<dict>
<key>respuesta</key>
<integer>5</integer>
<key>op1</key>
<integer>8</integer>
<key>op2</key>
<integer>11</integer>
<key>op3</key>
<integer>9</integer>
<key>op4</key>
<integer>5</integer>
<key>xp</key>
<integer>5</integer>
</dict>
</array>
<key>VerbosComunes</key>
<array>
<dict>
<key>respuesta</key>
<integer>8</integer>
<key>op1</key>
<integer>21</integer>
<key>op2</key>
<integer>1</integer>
<key>op3</key>
<integer>8</integer>
<key>op4</key>
<integer>19</integer>
<key>xp</key>
<integer>5</integer>
</dict>
<dict>
<key>respuesta</key>
<integer>34</integer>
<key>op1</key>
<integer>7</integer>
<key>op2</key>
<integer>25</integer>
<key>op3</key>
<integer>34</integer>
<key>op4</key>
<integer>12</integer>
<key>xp</key>
<integer>5</integer>
</dict>
<dict>
<key>respuesta</key>
<integer>25</integer>
<key>op1</key>
<integer>20</integer>
<key>op2</key>
<integer>4</integer>
<key>op3</key>
<integer>19</integer>
<key>op4</key>
<integer>25</integer>
<key>xp</key>
<integer>5</integer>
</dict>
<dict>
<key>respuesta</key>
<integer>14</integer>
<key>op1</key>
<integer>14</integer>
<key>op2</key>
<integer>16</integer>
<key>op3</key>
<integer>34</integer>
<key>op4</key>
<integer>23</integer>
<key>xp</key>
<integer>5</integer>
</dict>
<dict>
<key>respuesta</key>
<integer>35</integer>
<key>op1</key>
<integer>31</integer>
<key>op2</key>
<integer>22</integer>
<key>op3</key>
<integer>35</integer>
<key>op4</key>
<integer>25</integer>
<key>xp</key>
<integer>5</integer>
</dict>
<dict>
<key>respuesta</key>
<integer>27</integer>
<key>op1</key>
<integer>27</integer>
<key>op2</key>
<integer>34</integer>
<key>op3</key>
<integer>3</integer>
<key>op4</key>
<integer>26</integer>
<key>xp</key>
<integer>5</integer>
</dict>
</array>
<key>VerbosNarrativos</key>
<array>
<dict>
<key>respuesta</key>
<integer>10</integer>
<key>op1</key>
<integer>13</integer>
<key>op2</key>
<integer>5</integer>
<key>op3</key>
<integer>7</integer>
<key>op4</key>
<integer>10</integer>
<key>xp</key>
<integer>5</integer>
</dict>
<dict>
<key>respuesta</key>
<integer>15</integer>
<key>op1</key>
<integer>8</integer>
<key>op2</key>
<integer>11</integer>
<key>op3</key>
<integer>10</integer>
<key>op4</key>
<integer>15</integer>
<key>xp</key>
<integer>5</integer>
</dict>
<dict>
<key>respuesta</key>
<integer>12</integer>
<key>op1</key>
<integer>9</integer>
<key>op2</key>
<integer>1</integer>
<key>op3</key>
<integer>0</integer>
<key>op4</key>
<integer>12</integer>
<key>xp</key>
<integer>5</integer>
</dict>
<dict>
<key>respuesta</key>
<integer>1</integer>
<key>op1</key>
<integer>3</integer>
<key>op2</key>
<integer>8</integer>
<key>op3</key>
<integer>1</integer>
<key>op4</key>
<integer>11</integer>
<key>xp</key>
<integer>5</integer>
</dict>
<dict>
<key>respuesta</key>
<integer>2</integer>
<key>op1</key>
<integer>8</integer>
<key>op2</key>
<integer>11</integer>
<key>op3</key>
<integer>6</integer>
<key>op4</key>
<integer>2</integer>
<key>xp</key>
<integer>5</integer>
</dict>
<dict>
<key>respuesta</key>
<integer>4</integer>
<key>op1</key>
<integer>13</integer>
<key>op2</key>
<integer>1</integer>
<key>op3</key>
<integer>4</integer>
<key>op4</key>
<integer>7</integer>
<key>xp</key>
<integer>5</integer>
</dict>
</array>
<key>Verduras</key>
<array>
<dict>
<key>respuesta</key>
<integer>15</integer>
<key>op1</key>
<integer>15</integer>
<key>op2</key>
<integer>5</integer>
<key>op3</key>
<integer>4</integer>
<key>op4</key>
<integer>11</integer>
<key>xp</key>
<integer>5</integer>
</dict>
<dict>
<key>respuesta</key>
<integer>13</integer>
<key>op1</key>
<integer>2</integer>
<key>op2</key>
<integer>13</integer>
<key>op3</key>
<integer>10</integer>
<key>op4</key>
<integer>12</integer>
<key>xp</key>
<integer>5</integer>
</dict>
<dict>
<key>respuesta</key>
<integer>2</integer>
<key>op1</key>
<integer>9</integer>
<key>op2</key>
<integer>14</integer>
<key>op3</key>
<integer>13</integer>
<key>op4</key>
<integer>2</integer>
<key>xp</key>
<integer>5</integer>
</dict>
<dict>
<key>respuesta</key>
<integer>6</integer>
<key>op1</key>
<integer>11</integer>
<key>op2</key>
<integer>6</integer>
<key>op3</key>
<integer>14</integer>
<key>op4</key>
<integer>0</integer>
<key>xp</key>
<integer>5</integer>
</dict>
<dict>
<key>respuesta</key>
<integer>17</integer>
<key>op1</key>
<integer>17</integer>
<key>op2</key>
<integer>1</integer>
<key>op3</key>
<integer>8</integer>
<key>op4</key>
<integer>10</integer>
<key>xp</key>
<integer>5</integer>
</dict>
<dict>
<key>respuesta</key>
<integer>4</integer>
<key>op1</key>
<integer>4</integer>
<key>op2</key>
<integer>16</integer>
<key>op3</key>
<integer>10</integer>
<key>op4</key>
<integer>6</integer>
<key>xp</key>
<integer>5</integer>
</dict>
</array>
</dict>
</plist>
